.connection {
  &__wrapper {
    display: flex;
    gap: 6px 6px;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    color: rgb(44, 44, 44);
  }
  &__whatsapp,
  &__telegram {
    width: 24px;
    height: 24px;
  }
  &__whatsapp {
    background: url("../img/icons/whatsapp.svg") no-repeat center / cover;
  }
  &__telegram {
    background: url("../img/icons/telegram.svg") no-repeat center / cover;
  }
  &__phone {
    position: relative;
    margin-left: 22px;
    &::before {
      content: "";
      width: 17px;
      height: 17px;
      background: url("../img/icons/phone.svg") no-repeat center / cover;
      position: absolute;
      top: -1px;
      left: -20px;
    
    }
  }
  &__email {
    position: relative;
    margin-left: 22px;
    &::before {
      content: "";
      width: 17px;
      height: 17px;
      background: url("../img/icons/email.svg") no-repeat center / cover;
      position: absolute;
      top: -1px;
      left: -19px;
 
    }
  }
}

@media (min-width: 650px) {
  .connection {
    &__wrapper {
      font-size: 16px;
    }
    &__whatsapp,
    &__telegram {
      width: 27px;
      height: 27px;
    }
    &__phone {
      margin-left: 25px;
      &::before {
        content: "";
        width: 20px;
        height: 20px;
        top: 0;
        left: -25px;
      }
    }
    &__email {
      margin-left: 25px;
      &::before {
        width: 20px;
        height: 20px;

        top: 0;
        left: -25px;
      }
    }
  }
}
@media (min-width: 948px) {
  .connection {
    &__wrapper {
      font-size: 18px;
      gap: 0 15px;
    }
    &__phone {
      margin-left: 25px;
      &::before {
        content: "";
        width: 20px;
        height: 20px;
        top: 1px;
        left: -25px;
      }
    }
    &__whatsapp,
    &__telegram {
      width: 30px;
      height: 30px;
    }
    &__email {
      margin-left: 25px;
      &::before {
        width: 20px;
        height: 20px;

        top: 1px;
        left: -25px;
      }
    }
  }
}
