@font-face {
	font-family: "Banty";
	font-display: swap;
	src: url("../fonts/Banty-Bold.woff2") format("woff2"), url("../fonts/Banty-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	}
@font-face {
	font-family: "CyrillicHelvet";
	font-display: swap;
	src: url("../fonts/CyrillicHelvet-Bold.woff2") format("woff2"), url("../fonts/CyrillicHelvet-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	}
@font-face {
	font-family: "Metroplex";
	font-display: swap;
	src: url("../fonts/Metroplex-Shadow.woff2") format("woff2"), url("../fonts/Metroplex-Shadow.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	}
