@import "./var.scss";
@import "./resset.scss";
@import "./modules/form";
@import "./modules/header";
@import "./modules/navigate";
@import "./modules/primary";
@import "./modules/advantages";
@import "./modules/call";
@import "./modules/product";
@import "./modules/products";
@import "./modules/delivery";
@import "./modules/connection";
@import "./modules/footer";
@import "./modules/popup";
@import "./modules/sent";
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}
.page {
  max-width: 1200px;
  margin: 0 auto;
  // overflow: hidden;
  box-sizing: border-box;
}

.error {
  color: $color-red;
  font-size: 12px;
}
